*{
	margin:0px;
	padding-top: 10px;
	border-radius: 0px;
	box-sizing: border-box;
	font-size: 110%;
}

.mainCalc{
	margin:0px;
	padding:0px;
	border-radius:0px;
	box-sizing: border-box;	
}

.subMainCalc{
	width: 400px;
	display:block;
    margin-left:auto;
    margin-right:auto;
}

input[type='button']{
	margin-left: 2px;
	width: 24%;
	background: #607260;
	border: 3px solid rgb(85, 78, 78);
	border-radius:5px;
	padding: 15px 20px;
	color: rgb(246, 246, 246);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
}

input[type='button']:active{
	background: #ccc;
}


#root{
	text-align:center;
}

.srow input{
	width: 400px;
	background: #ddd;
	border: 3px solid #607260;
	border-radius:5px;
	color: #222;
	padding: 10px;
	text-align: right;
}
